body {
    background-color: black;
    background-image: url('how-to-play-poker-copy.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;



}
h1 {
    color: tomato;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: hsl(120, 100%, 20%);
    color: white;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
p {
    color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: hsl(120, 100%, 20%);
    color: white;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
a {
    color: rgb(36, 36, 223);
}
button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: hsl(120, 100%, 20%);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}
button:hover {
    background-color: #32CD32;
    font-size: larger;
}
#result {
    margin-top: 30px;
    font-size: 20px;
}
a:link{
    color: aqua;

}
a:hover{
    color:blue
}

